:root {
    --background: #282828;
    --foreground: #ddc7a1;
    --secondaryBackground: #1b1b1b;
    
    --color1: #aa0000;
    --color2: #00aa00;
    --color3: #aa00aa;
    --color4: #ff00aa;
    --color5: #00ffff;

    --svgFilterColor: invert(93%) sepia(6%) saturate(3017%) hue-rotate(317deg) brightness(108%) contrast(74%);
    --svgFilterHover: invert(100%) sepia(0%) saturate(2500%) hue-rotate(309deg) brightness(130%) contrast(96%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    margin: 0;
    padding-top: 10vh;
    box-sizing: border-box;
    color: var(--foreground);
    font-family: monospace;
}

/* Search Form */
.search-box {
    width: 60%;
    max-width: 700px;
    margin: 2rem auto;
    padding: 0.5rem;
    background-color: var(--secondaryBackground);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 100%;
    background-color: inherit;
    color: var(--foreground);
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    /* border-radius: 1rem; */
}

#search-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-right: 0.5rem;
}

#search-button > img {
    height: 1.25rem;
    width: 1.25rem;
    filter: var(--svgFilterColor);
}

#search-button > img:hover,
#search-button > img:focus {
    filter: var(--svgFilterHover);
}

/* Cards section */
main {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.card {
    width: 100%;
    max-width: 330px;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondaryBackground);
    border-radius: 1rem;
    padding-bottom: 1rem;
}

.card:nth-child(4n+1) > h3 {
    color: var(--color1)
}

.card:nth-child(4n+2) > h3 {
    color: var(--color2);
}

.card:nth-child(4n+3) > h3 {
    color: var(--color3);
}

.card:nth-child(4n+4) > h3 {
    color: var(--color4)
}

a {
    margin: 0.25rem;
    width: 80%;
    text-align: center;
    text-decoration: none;
    color: var(--foreground);
}

a:hover,
a:focus {
    background-color: var(--background);
}


/* breakpoints based on card size */
@media screen and (min-width: 1480px){
    main {
        grid-template-columns: repeat(5, 1fr);
        max-width: 1842px;
        margin: auto;
    }

    .card:nth-child(5n+1) > h3 {
        color: var(--color1)
    }
    
    .card:nth-child(5n+2) > h3 {
        color: var(--color2);
    }
    
    .card:nth-child(5n+3) > h3 {
        color: var(--color3);
    }
    
    .card:nth-child(5n+4) > h3 {
        color: var(--color4)
    }
    
    .card:nth-child(5n+5) > h3 {
        color: var(--color5)
    }
}

@media screen and (max-width: 880px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width: 456px) {
    main {
        grid-template-columns: 1fr;
    }
}